<form class="menu-form col-6">
  <div class="form-title">Food Menu</div>
  <div class="row form-label">
    <label class="col-4">Food Name</label>
    <label class="col-4">Price</label>
    <label class="col-4">Quantity</label>
  </div>
  <div class="form-element row">
    <p class="col-4">Food Name</p>
    <p class="col-4">Price</p>
    <p class="col-4">Quantity</p>
  </div>
  <div class="form-element row">
    <p class="col-4">Food Name</p>
    <p class="col-4">Price</p>
    <p class="col-4">Quantity</p>
  </div>
  <div class="form-element row">
    <p class="col-4">Food Name</p>
    <p class="col-4">Price</p>
    <p class="col-4">Quantity</p>
  </div>
  <div class="form-element row">
    <p class="col-4">Food Name</p>
    <p class="col-4">Price</p>
    <p class="col-4">Quantity</p>
  </div>
  <div class="form-element row">
    <p class="col-4">Food Name</p>
    <p class="col-4">Price</p>
    <p class="col-4">Quantity</p>
  </div>
</form>

