<form class="menu-form col-6">
  <div class="form-title">Freezer Storage</div>
  <div class="row form-label">
    <label class="col-4">Food Name</label>
    <label class="col-2">Price</label>
    <label class="col-2">Puchaser</label>
  </div>
  <div class="form-element row">
    <p class="col-4">Baking Bread</p>
    <p class="col-2">$3.99</p>
    <p class="col-2">Jerry</p>
    <button class="col-2 btn">Steal</button>
    <button class="col-2 btn">Eat</button>
  </div>
  <div class="form-element row">
    <p class="col-4">Grilled Sausage</p>
    <p class="col-2">$3.99</p>
    <p class="col-2">John</p>
    <button class="col-2 btn">Steal</button>
    <button class="col-2 btn">Eat</button>
  </div>
  <div class="form-element row">
    <p class="col-4">Coke</p>
    <p class="col-2">$1.99</p>
    <p class="col-2">Amy</p>
    <button class="col-2 btn">Steal</button>
    <button class="col-2 btn">Eat</button>
  </div>
  <div class="form-element row">
    <p class="col-4">Pizza</p>
    <p class="col-2">$7.99</p>
    <p class="col-2">Jerry</p>
    <button class="col-2 btn">Steal</button>
    <button class="col-2 btn">Eat</button>
  </div>
  <div class="form-element row">
    <p class="col-4">Hamburger</p>
    <p class="col-2">$5.99</p>
    <p class="col-2">Jerry</p>
    <button class="col-2 btn">Steal</button>
    <button class="col-2 btn">Eat</button>
  </div>
</form>
