.menu-form {
  //in the center of the page
  max-width: 50%;
  border-radius: 10px;
  border: 5px #3c3d3f solid;
  display: flex;
  flex-direction: column;
  background: white;
}

.menu-form .form-title {
  font-size: 30px;
  font-weight: bold;
  padding: 3px 0px 5px 0px;
  text-align: center;
  color: white;
  background-color: #3c3d3f;
  border-radius: 7px 7px 0px 0px;
}

.menu-form .form-food-section {
  margin: 10px -10px 0px -10px;
  height: 300px;
  font-size: 20px;
}

.menu-form .form-label {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  color: #3c3d3f;
  width: 100%;
  border-bottom: 2px solid #3c3d3f;
}

.menu-form .form-element {
  font-size: 20px;
  border-bottom: 2px solid #3c3d3f;
  background: white;
  width: 100%;
}

.btn {
  border-radius: 20px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  height: 40px;
  width: 40px;
  color: white;
  background: #c1b3b6;
  border: 2px solid white;
  margin-left: -15px;
  margin-top: 15px;
}

.btn:hover {
  background: #00b7ef;
  color: #ffffff;
  cursor: pointer;
}

.submit-btn {
  border-radius: 10px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  color: white;
  background: #c1b3b6;
  border: 2px solid white;
}

.submit-btn:hover {
  background: #00b7ef;
  color: #ffffff;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#status {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #80ff27;
  font-size: 30px;
  font-weight: bold;
}

/* Define the keyframes for the animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Apply the animation to the element */
.fade-out {
  animation-name: fadeOut;
  animation-duration: 5s; /* Change this to adjust the duration */
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}
