<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Softoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Softoom</h1>
    </header>

    <form class="signup-form col-6" (submit)="signUp()" [formGroup]="signUpForm">
      <div class="form-title">User Sign Up</div>
      <p id="error-box">{{ error }}</p>
      <input
        type="email"
        name="username"
        class="form-element"
        formControlName="username"
        placeholder="Enter a email address"
        required
      />
      <input
        type="password"
        name="password"
        class="form-element"
        formControlName="password"
        placeholder="Enter a password"
        required
      />

      <select id="gender" class="form-element" formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <select id="room-type" class="form-element" formControlName="roomType">
        <option value="study">Study</option>
        <option value="soft">Soft</option>
        <option value="play">Play</option>
      </select>
      <div>
        <button id="signup" type="submit" class="btn">Sign Up</button>
      </div>
    </form>

    <footer>
      <a href="/credits.html">credits</a>
    </footer>
  </body>
</html>
