<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Softoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <a routerLink="/" class="btn col-3">Softoom</a>
    </header>
    <h1>Credits</h1>
    <h2>3D Models</h2>
    <ul>
      <li>
        rooms model, male character model, female character model, refragirator
        model, food-cart model from
        <a href="https://sketchfab.com/features/free-3d-models">
          sketchfab.com
        </a>
        authors: riikkakilpelainen, IsaacTheMaverick, archiveblue51121, Thunder,
        rivego, AVIKA, archiveblue51121
      </li>
    </ul>
    <h2>Angular, HTML, SCSS and JS code</h2>
    <ul>
      <li>
        With some help from lecture notes,
        <a href="http://stackoverflow.com/">Stackoverflow</a>
        ,
        <a href="https://www.w3schools.com/">w3schools</a>
        and Youtube tutorials
      </li>
    </ul>
    <h2>External Providers</h2>
    <ul>
      <li>Auth0, Stripe, Sendgrid, Github, Three.js</li>
    </ul>
  </body>
</html>
