<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Softoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Softoom</h1>
    </header>

    <form class="login-form col-6" (submit)="signIn()" [formGroup]="signInForm">
      <div class="form-title">User Sign In</div>
      <p id="error-box">{{ error }}</p>
      <input
        type="text"
        name="username"
        class="form-element"
        formControlName="username"
        placeholder="Enter a email address"
        required
      />
      <input
        type="password"
        name="password"
        class="form-element"
        formControlName="password"
        placeholder="Enter a password"
        required
      />
      <div>
        <button id="signin" name="action" class="btn">Log In</button>
      </div>
    </form>

    <footer>
      <a routerLink="/credit">credits</a>
    </footer>
  </body>
</html>
