<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Softoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Softoom</h1>
    </header>

    <p id="error-box"></p>

    <form class="login-form col-6">
      <div class="form-title">User Sign In</div>
      <input
        type="text"
        name="username"
        class="form-element"
        placeholder="Enter a email address"
        required
      />
      <input
        type="password"
        name="password"
        class="form-element"
        placeholder="Enter a password"
        required
      />
      <div>
        <button id="signin" name="action" class="btn">Log In</button>
      </div>
    </form>

    <footer>
      <a href="/credits.html">credits</a>
    </footer>
  </body>
</html>
