.dialog {
  position: fixed;
  //set the size of the dialog
  width: 100%;
  left: 25%;
}

.btn {
  position: fixed;
  left: 70%;
  border-radius: 40px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 40px;
  color: white;
  background: #c1b3b6;
  border: 2px solid white;
  margin-top: 2px;
}

.btn:hover {
  background: #00b7ef;
  color: #ffffff;
  cursor: pointer;
}
.hungerValue {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 30px;
  background-color: pink;
  border: 1px solid black;
  border-radius: 3px;
}

.signout-btn {
  position: absolute;
  top: 85%;
  left: 85%;
  border-radius: 20px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  color: white;
  background: #c1b3b6;
  border: 5px solid white;
  width: 150px;
}

.signout-btn:hover {
  background: #00b7ef;
  color: #ffffff;
  cursor: pointer;
}
